*{
    margin: 0px;
    padding: 0px;
}
#header{
    width: 100vw;
    height: 100vh;
   background-image: linear-gradient(rgba(0, 0, 0, 0.564),rgba(0, 0, 0, 0.673)),url(../asset/photos/desert\ background.jpg);
   background-size: 100% 750px;
   background-repeat: no-repeat;
}